/* Fonts */
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Regular.ttf") format("TrueType");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Italic.ttf") format("TrueType");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Bold.ttf") format("TrueType");
    font-weight: 700; 
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-BoldItalic.ttf") format("TrueType");
    font-weight: 700; 
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-ExtraBold.ttf") format("TrueType");
    font-weight: 800; 
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf") format("TrueType");
    font-weight: 800; /* Use the appropriate font-weight value for extra bold */
    font-style: italic;
}

/* Colors */
:root {
/* ### Primary */
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);

/* ### Neutral */
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    background-color: var(--Off-white);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding: 2.5rem;
    border-radius: 1rem 1rem 10rem 1rem;
}

form {
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "day month year year "
    "submit submit submit submit"
    
    ;
}

.day-grid {
    grid-area: day;
}

.month-grid {
    grid-area: month;
}

.year-grid {
    grid-area: year;
}

.submitContainer {
    width: 100%;
    grid-area: submit;
}

footer {
 position: absolute;
 bottom: 1vh;
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}
